@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              HEY! EVERYTHING IS GREAT!
        </div>
    </body>
</html>